$primary-blue: #2185d0;

div.main-secion{
  max-width: 1200px;
  margin: 50px auto;
}

div.ui.selection.dropdown.liste_fournisseur_length{
  min-width: 70px;
  margin: 0 15px;
}

#liste_fournisseur_paginate{
  margin: 15px 0;
  a.paginate_button:not(.disabled):hover{
    background: $primary-blue;
  }
  a.paginate_button{
    border: none;
  }
  span{
    a.paginate_button.current{
      background: $primary-blue;
      color: white !important; 
    }
    a.paginate_button:hover{
      background: $primary-blue;
    }
  }
}

#liste_fournisseur{
  tbody{
    tr[role="row"]{
      &.shown{
        background-color: $primary-blue;
        td.sorting_1{
          background-color: $primary-blue;
        }
      }  
      &.hover-highlight{
        &:hover{
          background-color: $primary-blue;
          td.sorting_1{
            background-color: $primary-blue;
          }
        }
      }   
      td.open{
        cursor: pointer;
      }
      td.no-padding{
        padding: 0;
      }
      td:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    tr.no-padding{
      background-color: lighten( $primary-blue, 40%);
    }
    
  }
}

//Loaders

#loader_tr{
  display: none;
  div.ui.segment{
    border: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

div.ui.segment.fournisseur_details_loader{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 0;
  margin: -10px;
  background-color: inherit;
  border: none;
  box-shadow: none;
  div.dimmer{
    background-color: rgba(255,255,255, .3);
  }
}

div.ui.segment.suppression_loader{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 15px;
}

#fournisseur_details{
  width: 60%;
  display: none;
  margin: 15px;
  position: relative;
  div.field{
    display: flex;
    align-items: center;
    label{
      width: 120px;
      display: block;
    }
    div.error_message{
      margin-left: 15px;
      p{
        color: #B03060;
      }
    }
    input[name="Adresse"]{
      flex: 1;
    }
    input[name="Nom"]{
      width: 250px;
    }
    input[name="Cp"],input[name="Ville"],#filter_Pays{
      width: 140px;
    }
    #filter_Pays{
      padding-right: 14px;
      min-height: 14px;
    }
  }
}

div.nouveau-fournisseur-btn{
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
}


div.reset_filters{
  margin-bottom: 20px;
  display: none;
  button.ui.button{
    font-size: .8em;
  }
}

div.filter_fields{
  display: flex;
  margin-bottom: 15px;
  div.ui.search{
    margin-right: 15px;
  }
  div.Pays_dropdown{
    width: 200px;
    display: flex;
  }
}

//Modals
div.izimodal{
  form{
    padding: 25px;
  }
  div.modal_buttons{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    button{
      margin-right: 15px;
    }
  }
  div.error_message{
    p{
      font-size: .8em;
      color: #B03060;
    }
  }
}

//Contacts
div.contacts_container{
  margin: 50px 15px 25px 15px;
  div.contacts_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    button{
      height: 28px;
      padding: 4px 14px;
    }
  }
}

#liste_contact{

  tbody tr[role="row"] td:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  tbody div.btns_td{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70px;
  }
  
}